<% include partials/header %>
<h1><%=campground.name%></h1>

<p>
</p>
<div class="">
    <img src="<%=campground.image %>">
    <p> <%= campground.descriptions %></p>
</div>
   
<% campground.comments.forEach(function(comment){ %>
    <p>
       <strong> <%= comment.author %></strong> -- <%= comment.text %>
    </p>


<% })%>
    
<% include partials/footer %>